html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}
.header {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.rightheader {
    display: flex;
    flex-flow: column;
    margin-left: 0.5%;
    margin-right: 0;
    justify-content: center;
}
.rightheader h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    color: #DA0090;
}
.rightheader p {
    margin-top: -2.5%;
    margin-bottom: 0;
}
nav {
    box-sizing: border-box;
    border-top: 1px solid #DA0090;
    border-bottom: 1px solid #A51F10;
}
nav ul {
    display: flex;
    flex-flow: row;
    gap: 2.5%;
    justify-content: center;
    list-style-type: none;
}
nav ul li a {
    color: #73352E;
}
section {
    display: flex;
    flex-flow: column nowrap;
    gap: 10%;
    justify-content: space-evenly;
}
section article img {
    float: left;
    margin-right: 2%;
    border-radius: 1rem;
}
section article::after {
    display: table;
    clear: both;
}
